<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Mon Site...</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">déconnecter</a>
      {% else %}
        <a href="{% url 'login' %}">connexion</a> / <a href="{% url 'signup' %}">s'enregistrer</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>