{% extends 'base.html' %}
{% load static %}


{% block header %}

<header class="product-header-page">
    <img src="{% static 'img/photo_image_fond.jpg' %}" alt="image de fond pour favoris" class="product-image">
    <h1>liste des favoris</h1>
</header> 


{% endblock %}

{% block content %}
    <div class="favorite-result container">
        <p class="row"><h3>Vois-ci le résultat de vos favoris:</h3></p>
        <div class="row">
            {% for favorite in favorites %}
            <div class="col-md-4 result">
                <img src="{{ favorite.substitute.image_url }}" width="100" height="100" class="result-image">
                <div class="result-nutriscore">{{ favorite.substitute.nutrition_grade_fr }}</div>
                <a class="result-name" href="{% url 'product_info' favorite.substitute.code %}">{{ favorite.substitute.product_name }}</a>
            </div>
            {% empty %}
            <p class="col-12">Aucun favoris enregistrées</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}